# Requirements for server-notifications-django

# Django (1.8 is a long-term support release)
Django==1.8
twilio==6.9.0
whitenoise

# Production dependencies
gunicorn

# Test dependencies
coverage
mock
six
